.header_info{
    display: flex;
    height: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto; 
    align-items: baseline;
    margin-top: 10%;
}

.container{
    width:70%;
    margin: auto;
}

.leftshiftHeader{
    margin-right: 8%;
}
.content {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
  }
@media (max-width: 900px) {
.content {
    gap: 1rem; 
    padding: 2rem;
    margin-top: 2rem; 
    }
    img{
        width:100%;
        height:100%;
        object-fit:contain;
    }
}
@media (max-width: 750px) {
.content {
    margin-left: -15%; 
    grid-template-columns: repeat(2, 1fr);
    }
    .content div:nth-child(2n+2) {
      padding-top: 3rem;
    }
    img{
        width:100%;
        height:100%;

        object-fit: contain;
    }
    .container{
        margin-left:15%;
        margin-right:-15%;
        width: 85%;
    } 
    .leftshiftHeader{
        margin-top: 30px;
    }
    .aboutteam{
        margin-top: 10px;
    }
    .header_info{
        margin-left: -7%;
    }
    br {
        content: "";
      }
    .profession{
        display: flex;
        align-items: first baseline;
    }
    .team-position{
        font-family: PT Serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 8px;
        letter-spacing: 0em;
        text-align: left;
        
    }
}

@media (min-width:750px){
    .content div:nth-child(3n+2) {
        padding-top: 6rem;
      }
      img{
        width:100%;
        height:100%;
        object-fit: contain;
    }
    
}
.footer{
    margin-top: 150px;
    margin-bottom: 0%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
}

.profession{
    display:flex;
    margin-left: 0%;
    align-items: flex-start;
}
.team-position{
    font-family: PT Serif;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}
.text_transformation{
    writing-mode: vertical-lr;   
}


.crewStyle{
font-family: PT Serif;
font-size: 36px;
font-weight: 700;
line-height: 48px;
letter-spacing: -0.045em;
text-align: left;
}

.aboutwho{
font-family: 'Poppins';
font-size: 18px;
font-weight: 600;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
text-transform: uppercase;
}
.aboutteam{
font-family: Poppins;
font-weight: 600px;
size: 18px;
line-height: 27px;
text-align: left;
margin-top: 10px;
}

.namestyle{
font-family: Poppins;
font-size: 1rem;
font-weight: 600;
line-height: 27px;
letter-spacing: 0em;
}